<footer class="site-footer">
    <figure class="footer-brand">
        <img src="/assets/logo.png" alt="Logo" />
        <figcaption>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            magni obcaecati natus quaerat quo dolor doloremque!
        </figcaption>
    </figure>

    <div class="footer-links">
        <div class="footer-section">
            <p>Quick Link</p>
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <p>Social</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <p>Legal</p>
            <ul>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookie policy</a></li>
            </ul>
        </div>
    </div>
</footer>
