<main class='p-12'>
    <h1 class='text-center text-lg'>service works!</h1>
    <div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl">
      <div class="md:flex">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover md:h-full md:w-48"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAi7HAKwNJh1AEkeKjg0lJihzVOYGLMN5qTA&s"
            alt="Modern building architecture"
          />
        </div>
        <div class="p-8">
          <div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase">Lorem, ipsum.</div>
          <a href="#" class="mt-1 block text-lg leading-tight font-medium text-black hover:underline">
          Lorem ipsum dolor sit.
          </a>
          <p class="mt-2 text-gray-500">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, eum.
          </p>
        </div>
      </div>
    </div>
</main>
