<header>
    <nav>
        <figure>
            <img src="/assets/logo.png" alt="" />
        </figure>
        <ul>
            <li>
                <a routerLink="/app-home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/app-service" routerLinkActive="active"
                    >Service</a
                >
            </li>
            <li>
                <a routerLink="/app-pricing" routerLinkActive="active"
                    >Pricing</a
                >
            </li>
            <li>
                <a routerLink="/app-features" routerLinkActive="active"
                    >Features</a
                >
            </li>
        </ul>
        <div>
            <button>Login</button>
            <button>Sign Up</button>
        </div>
    </nav>
</header>
