<main>
    <!--Simple Pricing! Section-->
    <section class="pricing-section container">
        <div class="pricing-header">
            <h1 class="pricing-title">Simple Pricing!</h1>
            <p class="pricing-desc">
                The most advancded customer support tools with a simple and
                affordable pricing. And you can always try for 30 days. free!
            </p>
        </div>

        <!--Pricing plan-->
        <div class="pricing-cards">
            <!--Basic plan-->
            <div class="pricing-card">
                <p class="pricing-card-title">Basic</p>
                <div class="pricing-price">
                    <p>$</p>
                    <p>4</p>
                    <p>/month</p>
                </div>
                <hr />
                <ul class="pricing-list">
                    <li><strong>10</strong> Projects</li>
                    <li><strong>10</strong> Pages</li>
                    <li><strong>100</strong> Mb Disk Space</li>
                </ul>
                <button class="buy-btn" type="button">BUY NOW</button>
            </div>

            <!--Standard plan-->
            <div class="pricing-card">
                <div class="pricing-card-title">
                    <p>Standard</p>
                    <p>Save 15%</p>
                </div>
                <div class="pricing-price">
                    <p>$</p>
                    <p>8</p>
                    <p>/month</p>
                </div>
                <hr />
                <ul class="pricing-list">
                    <li><strong>20</strong> Projects</li>
                    <li><strong>20</strong> Pages</li>
                    <li><strong>200</strong> Mb Disk Space</li>
                </ul>
                <button class="buy-btn" type="button">BUY NOW</button>
            </div>

            <!--Advanced plan-->
            <div class="pricing-card">
                <p class="pricing-card-title">Advanced</p>
                <div class="pricing-price">
                    <p>$</p>
                    <p>12</p>
                    <p>/month</p>
                </div>
                <hr />
                <ul class="pricing-list">
                    <li><strong>40</strong> Projects</li>
                    <li><strong>40</strong> Pages</li>
                    <li><strong>500</strong> Mb Disk Space</li>
                </ul>
                <button class="buy-btn" type="button">BUY NOW</button>
            </div>
        </div>
    </section>

    <!--FAQ Section-->
    <section class="faq-section container">
        <h2 class="faq-title">Frequently Asked Questions</h2>
        <div class="faq-cards">
            <div class="faq-card">
                <p class="faq-question">How does free trial work?</p>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.
                </p>
            </div>
            <div class="faq-card">
                <p class="faq-question">Can I cancle any time?</p>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.
                </p>
            </div>
        </div>
    </section>
</main>
